.App {
  margin: 0px 60px 0px 60px;
}

.App-header {
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Nav {
  display: flex;
  flex-direction: row;
}
.Nav > img {
  left: 60px;
}

.App-article {
  background-color: red;
}

aside {
  background-color: yellow;
}

/* .App-article {
  display: flex;
  flex-direction: row;
} */
/* .Article {
  display: flex;
  flex-direction: row;
}
article {
  width: 300px;
} */
