.App {
<<<<<<< Updated upstream
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
=======
  margin: 0px 60px 0px 60px;
>>>>>>> Stashed changes
}

.App-header {
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
<<<<<<< Updated upstream

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
=======
.Nav > img {
  left: 60px;
}

.App-article {
  background-color: red;
}

aside {
  background-color: yellow;
}

/* .App-article {
  display: flex;
  flex-direction: row;
} */
/* .Article {
  display: flex;
  flex-direction: row;
>>>>>>> Stashed changes
}
article {
  width: 300px;
} */
