.App-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Nav {
  display: flex;
  flex-direction: row;
}
.Nav > img {
  margin-right: 60px;
}
.menu {
  height: 130px;
  display: flex;
  align-self: normal;
}
.menu h2 {
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  margin: 40px 60px 0px 20px;
  cursor: pointer;
}
.menu hr {
  width: 5px;
  background-color: black;
  border-radius: 10px;
  margin-left: 20px;
}
.menu hr:last-child {
  height: 170px;
}
.App-article {
  background-color: white;
  display: flex;
  flex-direction: row;
}
.mainArticle {
  width: 100vw;
}
.mainArticle h1 {
  color: whitesmoke;
  z-index: 5;
  letter-spacing: 3px;
  position: absolute;
  top: 310px;
  left: 130px;
  font-size: 124px;
  font-weight: 900;
}
.molaArticle {
  position: absolute;
  z-index: 2;
  margin-top: 40px;
  margin: auto;
  right: 570px;
  top: 570px;
  width: 750px;
}
.molaMola {
  position: absolute;
  width: 1000px;
  z-index: 1;
}
.backgrondColor {
  position: absolute;
  position: absolute;
  top: 460px;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 13%,
    rgb(255, 255, 255) 47%,
    rgb(255, 255, 255) 100%
  );
  width: 1140px;
  z-index: 2;
  height: 370px;
}
.skeletonSection {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}
.birdOnMolaSection {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}
.birdOnMola {
  margin-left: 20px;
}
.App-article p {
  margin-top: 20px;
  font-size: 20px;
}
.button {
  right: 160px;
  top: 660px;
  z-index: 7;
  background-color: white;
  border: none;
  margin: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  border: solid 1px black;
  font-size: 16px;
  transition: all 0.5s ease;
}
.button:hover {
  background: #434343;
  color: white;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
aside {
  cursor: pointer;
  text-align: right;
  margin: 80px 180px 0px -550px;
}
aside h4 {
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 10px;
}
aside h5 {
  margin: 10px 0 20px 0px;
}
aside hr {
  height: 5px;
  background-color: black;
  border-radius: 10px;
}


.landing img {
  width: auto;
  height: 75vh;
  margin-left: 10vw;
  /* border: solid 10px black; */
}
.landing .content-left {
  position: absolute;
  bottom: 20%;
  left: 15vw;
  letter-spacing: 3px;
  color: white;
  font-size: 4em;
  font-weight: bolder;
}
.landing .content-right h2{
  background-color: transparent;
  position: absolute;
  bottom: 30%;
  left: 63%;
  letter-spacing: 3px;
  color: white;
  font-size: 2em;
  font-weight: bolder;
  max-width: 17vw;
}

.landing .button {
  background-color: transparent;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: solid 3px white;
  font-size: 16px;
  transition: all 0.5s ease;
  color: white;
  margin-top: 20px;
  position: absolute;
  top: 70%;
  left: 62%;
  font-size: 2em;
}
.landing .button:hover {
  background-color: white;
  color: black;
  
}


